## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Puerto Ayora,EC,-0.74,-90.35,70.0,91,81,3.00,broken clouds
1,1,Bluff,NZ,-46.60,168.33,55.0,64,85,14.00,overcast clouds
2,2,Yulara,AU,-25.24,130.99,86.0,13,23,11.41,few clouds
3,3,Thompson,CA,55.74,-97.86,23.0,92,75,6.93,broken clouds
4,4,Tuatapere,NZ,-46.13,167.68,55.0,64,47,14.00,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Yulara,AU,-25.24,130.99,86.00,13,23,11.41,few clouds
7,7,Lorengau,PG,-2.02,147.27,86.77,65,20,5.28,few clouds
23,23,Nouadhibou,MR,20.93,-17.03,77.00,47,100,14.99,overcast clouds
25,25,Vaini,TO,-21.20,-175.20,78.80,78,75,10.29,broken clouds
28,28,Hithadhoo,MV,-0.60,73.08,83.48,73,100,8.37,light rain
29,29,Thaton,MM,16.92,97.37,75.51,93,0,2.98,clear sky
30,30,Laguna,US,38.42,-121.42,81.00,19,1,4.70,clear sky
32,32,Victoria,HK,22.29,114.16,75.99,70,80,7.47,broken clouds
34,34,Georgetown,MY,5.41,100.34,78.80,94,40,2.24,scattered clouds
35,35,Butaritari,KI,3.07,172.79,82.11,76,32,9.24,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                206
City                   206
Country                205
Lat                    206
Lng                    206
Max Temp               206
Humidity               206
Cloudiness             206
Wind Speed             206
Weather Description    206
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp Weather Description    Lat     Lng Hotel Name
2       Yulara      AU     86.00          few clouds -25.24  130.99
7     Lorengau      PG     86.77          few clouds  -2.02  147.27
23  Nouadhibou      MR     77.00     overcast clouds  20.93  -17.03
25       Vaini      TO     78.80       broken clouds -21.20 -175.20
28   Hithadhoo      MV     83.48          light rain  -0.60   73.08
29      Thaton      MM     75.51           clear sky  16.92   97.37
30      Laguna      US     81.00           clear sky  38.42 -121.42
32    Victoria      HK     75.99       broken clouds  22.29  114.16
34  Georgetown      MY     78.80    scattered clouds   5.41  100.34
35  Butaritari      KI     82.11    scattered clouds   3.07  172.79

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Yulara,AU,86.00,few clouds,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
7,Lorengau,PG,86.77,few clouds,-2.02,147.27,Lorengau Harbourside Hotel
23,Nouadhibou,MR,77.00,overcast clouds,20.93,-17.03,El Medina
25,Vaini,TO,78.80,broken clouds,-21.20,-175.20,Keleti Beach Resort
28,Hithadhoo,MV,83.48,light rain,-0.60,73.08,Scoop Guest House
...,...,...,...,...,...,...,...
682,Kampot,KH,75.20,few clouds,10.62,104.18,Champa Lodge
688,San Cristobal,VE,80.60,scattered clouds,7.77,-72.22,Pirineos
695,Ambon,ID,84.00,light rain,-3.70,128.18,Swiss-Belhotel Ambon
701,Saint-Georges,GD,78.80,light rain,12.06,-61.75,Siesta Hotel
705,Coahuayana,MX,82.15,clear sky,18.73,-103.68,Hotel Los Arcos

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.replace('')
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Yulara,AU,86.00,few clouds,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
7,Lorengau,PG,86.77,few clouds,-2.02,147.27,Lorengau Harbourside Hotel
23,Nouadhibou,MR,77.00,overcast clouds,20.93,-17.03,El Medina
25,Vaini,TO,78.80,broken clouds,-21.20,-175.20,Keleti Beach Resort
28,Hithadhoo,MV,83.48,light rain,-0.60,73.08,Scoop Guest House
...,...,...,...,...,...,...,...
682,Kampot,KH,75.20,few clouds,10.62,104.18,Champa Lodge
688,San Cristobal,VE,80.60,scattered clouds,7.77,-72.22,Pirineos
695,Ambon,ID,84.00,light rain,-3.70,128.18,Swiss-Belhotel Ambon
701,Saint-Georges,GD,78.80,light rain,12.06,-61.75,Siesta Hotel
705,Coahuayana,MX,82.15,clear sky,18.73,-103.68,Hotel Los Arcos

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))